independent_news/.idea
independent_news/venv
independent_news/config.py
independent_news/__pycache__/

.idea
independent_news/news_crawler/.idea
independent_news/news_crawler/chromedriver
independent_news/news_crawler/utils/country_scraper.py
independent_news/news_crawler/__pycache__/
independent_news/news_crawler/utils/__pycache__/

independent_news/news/__pycache__/



news_gui/node_modules

.env

